*{
	border-radius: 0 !important;
}
#menu2{
	background: #212529 !important;
}
#menu2 .dropdown-item{
	color: #ffffffbf !important;
}
#menu2 .dropdown-item:focus, #menu2 .dropdown-item:hover{
    color: #fff;
    text-decoration: none;
    background-color: #3d3546 !important;
}
.btn-primary{
    background: #1f91f3 !important;
}
.social_list_item_link{
	border-radius: 50% !important;
}
.formularios{
	z-index: 25;
}

#subtituloPortada{
	font-size: 25px;
}

@media screen and (max-width: 767px){
	.uk-flex {
		display: block;
	}
}
@media screen and (max-width: 959px){
	.wrapper {
		height: auto;
		min-height: auto;
	}
	
	.frm_iniciar_sesion{
		margin-top: 0;
	}
	.uk-margin-large-top {
		margin-top: 20px !important;
	}
}

.formularios.card{
	margin-top: 0 !important;
}